<template>
	<header class="site-header">
		<div class="container-up">
			<div class="container-up-content">
				<p>Jadi Mitra Kemah Aja</p>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="23"
					height="22"
					viewBox="0 0 23 22"
					fill="none"
				>
					<path
						d="M16.0517 6.59999C16.0517 6.29624 15.8054 6.04999 15.5017 6.04999L10.5517 6.04999C10.2479 6.04999 10.0017 6.29624 10.0017 6.59999C10.0017 6.90375 10.2479 7.14999 10.5517 7.14999H14.9517V11.55C14.9517 11.8538 15.1979 12.1 15.5017 12.1C15.8054 12.1 16.0517 11.8538 16.0517 11.55L16.0517 6.59999ZM7.09057 15.7889L15.8906 6.9889L15.1128 6.21109L6.31275 15.0111L7.09057 15.7889Z"
						fill="#6E6E6E"
					/>
				</svg>
			</div>
			<div class="line"></div>
			<div class="lang">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					viewBox="0 0 20 20"
					fill="none"
				>
					<g clip-path="url(#clip0_2231_1215)">
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M10.1185 0.0508475C15.5931 0.0847458 20.0168 4.52542 20.0168 10C20.0168 15.4746 15.5931 19.9153 10.1185 19.9492L10.0507 20L9.98292 19.9492C4.52529 19.9153 0.101562 15.4746 0.101562 10C0.101562 4.52542 4.52529 0.0847458 9.99987 0.0508475L10.0507 0L10.1185 0.0508475ZM1.98292 7.57627C1.74563 8.33898 1.62699 9.15254 1.62699 10C1.62699 10.8475 1.74563 11.661 1.98292 12.4237H5.3219C5.15241 11.6441 5.06766 10.8475 5.06766 10.0508C5.06766 9.22034 5.16936 8.38983 5.3558 7.57627H1.98292ZM6.76258 7.57627C6.57614 8.40678 6.47444 9.23729 6.47444 10.0508C6.47444 10.8475 6.57614 11.6441 6.74563 12.4237H13.3558C13.5422 11.6271 13.627 10.8305 13.627 10.0508C13.627 9.23729 13.5253 8.38983 13.3389 7.57627H6.76258ZM14.7795 7.57627C14.966 8.40678 15.0677 9.23729 15.0677 10.0508C15.0677 10.8475 14.9829 11.6441 14.8134 12.4237H18.1524C18.3897 11.661 18.5083 10.8305 18.5083 10C18.5083 9.15254 18.3897 8.33898 18.1524 7.57627H14.7795ZM17.7117 6.49153C16.61 4.10169 14.4405 2.32203 11.8134 1.76271C13.0168 3.18644 13.9321 4.81356 14.4744 6.49153H17.7117ZM13.0338 6.49153C12.4405 4.71186 11.4236 3 10.0507 1.62712C8.69478 3 7.66088 4.71186 7.06766 6.49153H13.0338ZM5.62699 6.49153C6.16936 4.81356 7.06766 3.18644 8.288 1.76271C5.66088 2.32203 3.49139 4.10169 2.3897 6.49153H5.62699ZM2.3897 13.5085C3.47444 15.8814 5.64394 17.678 8.27105 18.2373C7.05072 16.8136 6.13546 15.1864 5.59309 13.5085H2.3897ZM7.05072 13.5085C7.64394 15.2881 8.67783 16.9831 10.0507 18.3729C11.4236 16.9831 12.4575 15.2881 13.0507 13.5085H7.05072ZM14.5083 13.5085C13.966 15.1864 13.0677 16.8136 11.8304 18.2373C14.4575 17.678 16.627 15.8983 17.7117 13.5085H14.5083Z"
							fill="#3D3D3D"
						/>
					</g>
					<defs>
						<clipPath id="clip0_2231_1215">
							<rect
								width="19.8983"
								height="20"
								fill="white"
								transform="translate(0.101562)"
							/>
						</clipPath>
					</defs>
				</svg>
				<p>ID</p>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					viewBox="0 0 16 16"
					fill="none"
				>
					<path
						d="M4 6L8 10L12 6"
						stroke="#3D3D3D"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</div>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				viewBox="0 0 20 20"
				fill="none"
			>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M4.59562 13.3333L5.57896 12.3483C5.89396 12.0333 6.06729 11.615 6.06729 11.17V7.2725C6.06729 6.14167 6.55896 5.06083 7.41729 4.30917C8.28229 3.55083 9.38396 3.2175 10.5315 3.36833C12.4706 3.62583 13.9331 5.37916 13.9331 7.4475V11.17C13.9331 11.615 14.1065 12.0333 14.4206 12.3475L15.4048 13.3333H4.59562ZM11.6665 15.2842C11.6665 16.0333 10.9031 16.6667 9.99979 16.6667C9.09646 16.6667 8.33312 16.0333 8.33312 15.2842V15H11.6665V15.2842ZM17.1006 12.6733L15.5998 11.17V7.4475C15.5998 4.54667 13.5148 2.0825 10.7498 1.71667C9.14812 1.50333 7.53146 1.9925 6.31896 3.05583C5.09896 4.12417 4.40062 5.66083 4.40062 7.2725L4.39979 11.17L2.89896 12.6733C2.50812 13.065 2.39229 13.6475 2.60396 14.1583C2.81646 14.67 3.31062 15 3.86396 15H6.66646V15.2842C6.66646 16.9658 8.16146 18.3333 9.99979 18.3333C11.8381 18.3333 13.3331 16.9658 13.3331 15.2842V15H16.1356C16.689 15 17.1823 14.67 17.394 14.1592C17.6065 13.6475 17.4915 13.0642 17.1006 12.6733Z"
					fill="#3D3D3D"
				/>
				<mask
					id="mask0_2231_1220"
					maskUnits="userSpaceOnUse"
					x="2"
					y="1"
					width="16"
					height="18"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M4.59562 13.3333L5.57896 12.3483C5.89396 12.0333 6.06729 11.615 6.06729 11.17V7.2725C6.06729 6.14167 6.55896 5.06083 7.41729 4.30917C8.28229 3.55083 9.38396 3.2175 10.5315 3.36833C12.4706 3.62583 13.9331 5.37916 13.9331 7.4475V11.17C13.9331 11.615 14.1065 12.0333 14.4206 12.3475L15.4048 13.3333H4.59562ZM11.6665 15.2842C11.6665 16.0333 10.9031 16.6667 9.99979 16.6667C9.09646 16.6667 8.33312 16.0333 8.33312 15.2842V15H11.6665V15.2842ZM17.1006 12.6733L15.5998 11.17V7.4475C15.5998 4.54667 13.5148 2.0825 10.7498 1.71667C9.14812 1.50333 7.53146 1.9925 6.31896 3.05583C5.09896 4.12416 4.40062 5.66083 4.40062 7.2725L4.39979 11.17L2.89896 12.6733C2.50812 13.065 2.39229 13.6475 2.60396 14.1583C2.81646 14.67 3.31062 15 3.86396 15H6.66646V15.2842C6.66646 16.9658 8.16146 18.3333 9.99979 18.3333C11.8381 18.3333 13.3331 16.9658 13.3331 15.2842V15H16.1356C16.689 15 17.1823 14.67 17.394 14.1592C17.6065 13.6475 17.4915 13.0642 17.1006 12.6733Z"
						fill="white"
					/>
				</mask>
				<g mask="url(#mask0_2231_1220)"></g>
			</svg>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
			>
				<path
					d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM20 6V6.511L12 12.734L4 6.512V6H20ZM4 18V9.044L11.386 14.789C11.5611 14.9265 11.7773 15.0013 12 15.0013C12.2227 15.0013 12.4389 14.9265 12.614 14.789L20 9.044L20.002 18H4Z"
					fill="#3D3D3D"
				/>
			</svg>
		</div>
		<div class="container">
			<Logo />
			<!-- <headerSiteSearch /> -->
			<!-- nested component SiteSearch -->
			<div class="container-bottom-content">
				<HeaderNav />
				<span class="button">Login</span>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderPage'
}
</script>

<style lang="scss">
.fas {
	font-size: 12px;
}

.line {
	width: 0.75px;
	height: 20px;
	background: #cfcfcf;
}

.site-header {
	display: flex;
	position: fixed;
	flex-direction: column;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: auto;
	box-shadow: 0px 3px 4px rgba($black, 0.15);

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > .container-bottom-content {
			display: flex;
			align-items: center;
			gap: 40px;
			margin-bottom: 10px;
			margin-top: 8px;
		}
	}
	& > .container-up {
		display: flex;
		justify-content: flex-end;
		gap: 20px;
		align-items: center;
		margin-top: 4px;

		& > .container-up-content {
			display: flex;
			align-items: center;
			gap: 2px;
			height: 100%;
			& > p {
				font-size: 12px;
				color: #6e6e6e;
				margin: 0;
			}
		}
	}

	& > .container-up > .lang {
		display: flex;
		align-items: center;
		gap: 8px;
		height: 100%;
		& > p {
			font-size: 12px;
			color: #6e6e6e;
			margin: 0;
		}
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.container-up {
			justify-content: center;
		}

		.container-up-content {
			flex-direction: row;
			align-items: flex-end;
			gap: 4px;

			& > p {
				font-size: 10px;
			}
		}

		.lang {
			flex-direction: row;
			align-items: flex-end;
			gap: 4px;

			& > p {
				font-size: 10px;
			}
		}

		.header-content {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 4px;
		}
	}
}
</style>
