<template>
	<div class="card-container-wrapper">
		<div class="title">
			<p>Camping Ground Terpopuler</p>
		</div>
		<div class="card-container">
			<div v-for="campData in campingData" :key="campData.id" class="card-camp">
				<img class="image" src="~/assets/img/card.png" />
				<div class="information-section">
					<div class="card-camp__title">
						<i class="fas fa-map-marker-alt"></i>
						<p class="title--place">{{ campData.location }}</p>
						<div class="line"></div>
						<i class="fas fa-star"></i>
						<p class="title--place">{{ campData.rating }}</p>
					</div>
					<div class="card-camp-main__title">{{ campData.camp }}</div>
					<div class="card-camp-price">{{ campData.price }}</div>
					<div class="info">Per Malam / Per Kavling</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import campingData from '../static/json/camp.json'

export default {
	data() {
		return {
			campingData: campingData.data
		}
	}
}
</script>

<style lang="scss">
.title {
	color: var(--text-colour-90, #252525);
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
	margin-bottom: 10px;

	@media screen and (max-width: 768px) {
		text-align: center;
		margin-bottom: 50px;
	}
}

.card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px; /* Gap antara card */
	justify-content: center;

	@media screen and (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.card-camp-main__title {
	color: var(--text-colour-90, #252525);
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
}

.card-container-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 96px;
}

.card-camp-price {
	color: var(--primary-yellow, #f0bb62);
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}

.info {
	color: var(--text-colour-80, #3d3d3d);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.line {
	width: 0.75px;
	height: 20px;
	background: #cfcfcf;
}

.title--place {
	color: var(--text-colour-80, #3d3d3d);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}

p {
	margin: 0;
	padding: 0;
}

.card-camp__title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	text-align: left;
}

.information-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 0px 20px 20px 20px;
}

.camp-ground-container {
	margin-top: 96px;
	color: var(--text-colour-90, #252525);
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
}

.image {
	width: 100%;
	object-fit: cover;
	height: 149px;
	flex-shrink: 0;
	border-radius: 12px 12px 0px 0px;
}

.card-camp {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s ease, box-shadow 0.3s ease,
		background-color 0.3s ease;

	@media screen and (max-width: 768px) {
		width: 100%;
		flex-direction: column;
	}
}

.card-camp:hover {
	transform: translateY(-5px);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
}
</style>
