<template>
	<div class="package-container">
		<div class="package-card">
			<div class="package-title">
				<p>{{ packageData.title }}</p>
			</div>
			<div class="package-detail">
				<div class="package-photo">
					<div class="top-photo">
						<div>
							<img
								src="../assets/img/camp_large.png"
								:alt="packageData.title"
								class="large-camp-card"
							/>
						</div>
					</div>
					<div class="bottom-photo">
						<div class="small-camp-container__card">
							<img
								v-for="smallPhoto in packageData.smallPhotos"
								:key="smallPhoto"
								src="../assets/img/camp_small.png"
								:alt="packageData.title"
								class="small-camp-card"
							/>
						</div>
					</div>
				</div>
				<div class="package-detail-info">
					<p class="package-detail-info__title">{{ packageData.title }}</p>
					<div class="package-title-info">
						<i class="fas fa-campground"></i>
						<p>{{ packageData.capacity }}</p>
					</div>
					<hr />
					<div class="package-info-price">
						<div class="package-benefit">
							<p class="package-benefit__title">Benefit</p>
							<div
								v-for="benefit in packageData.benefits"
								:key="benefit"
								class="package-info__item"
							>
								<i class="fas fa-check"></i>
								<p>{{ benefit }}</p>
							</div>
						</div>
						<div class="package-policy">
							<p class="package-policy__title">Syarat dan Ketentuan</p>
							<div
								v-for="policy in packageData.policies"
								:key="policy"
								class="package-info__item"
							>
								<i class="fas fa-check"></i>
								<p>{{ policy }}</p>
							</div>
							<div class="package-info__item">
								<i class="fas fa-info-circle"></i>
								<p>Baca Kebijakan Pembatalan</p>
							</div>
						</div>
						<div class="package-price">
							<p class="package-price__title">Harga Permalam</p>
							<p class="package-price__cross">{{ packageData.oldPrice }}</p>
							<p class="package-price__real">{{ packageData.newPrice }}</p>
							<p class="package-price__package">{{ packageData.priceType }}</p>
						</div>
					</div>
					<div class="order-button">
						<div class="button--medium">Pesan</div>
					</div>
				</div>
			</div>
			<div class="package-include">
				<p class="package-include__title">Include</p>
				<div class="package-include-top">
					<div
						v-for="include in packageData.includes"
						:key="include"
						class="package-include-top__item"
					>
						<i class="fas fa-campground"></i>
						<p>{{ include }}</p>
					</div>
				</div>
				<div class="package-include-bottom">
					<div
						v-for="include in packageData.bottomIncludes"
						:key="include"
						class="package-include-bottom__item"
					>
						<i class="fas fa-campground"></i>
						<p>{{ include }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			packageData: {
				title: 'Paket Standar',
				capacity: '2-3 Orang',
				largePhoto: '../assets/img/camp_large.png',
				smallPhotos: [
					'../assets/img/camp_small.png',
					'../assets/img/camp_small.png'
				],
				benefits: [
					'Biaya Masuk & Parkir',
					'Peralatan Camping Dasar',
					'Akses Fasilitas Umum Perkemahan'
				],
				policies: ['Tidak Bisa Refund', 'Tidak Bisa Reschedule'],
				oldPrice: 'Rp. 100.000',
				newPrice: 'Rp. 80.000',
				priceType: 'Per Paket',
				includes: [
					'Tenda (230 cm x 160 cm)',
					'View Pegunungan',
					'Sleeping Bag (2)'
				],
				bottomIncludes: ['Tenda (230 cm x 160 cm)', 'Senter (2)']
			}
		}
	}
}
</script>
<style lang="scss" scoped>
.package-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;
	margin-bottom: 50px;
}

.package-card {
	display: flex;
	padding: 12px 12px;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	width: inherit;
	background: #fff;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.package-detail {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.package-detail-info {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	padding: 12px 0px;
}

.package-title-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.package-include__title {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.package-title {
	color: #000;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 0px 11px;
}

.large-camp-card {
	width: 278px;
	height: 120px;
	flex-shrink: 0;
	border-radius: 8px;
}

.small-camp-card {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 8px;
	gap: 10px;
}

.package-detail-info__title {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.order-button {
	display: flex;
	justify-content: flex-end;
}

.package-info-price {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;

	.package-benefit {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.package-benefit__title {
			color: #000;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.package-info__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.package-policy {
		display: flex;
		flex-direction: column;
		gap: 8px;

		.package-policy__title {
			color: #000;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.package-info__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.package-price {
		display: flex;
		flex-direction: column;
		text-align: right;

		.package-price__title {
			text-align: left;
			color: #000;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.package-price__cross {
			color: #000;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
			text-decoration: line-through;
		}

		.package-price__real {
			color: var(--primary-yellow, #f0bb62);
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.package-price__package {
			color: rgba(0, 0, 0, 0.5);
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}

.package-include {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	padding: 12px;

	.package-include-top {
		display: flex;
		flex-direction: row;
		gap: 20px;

		.package-include-top__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.package-include-bottom {
		display: flex;
		flex-direction: row;
		gap: 20px;

		.package-include-bottom__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}

.package-photo {
	display: flex;
	padding: 10px 0px 10px 10px;
	align-items: flex-start;
	gap: 10px;
	flex-direction: column;
	margin-right: 30px;
}

.top-photo {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;

	img {
		width: 100%;
		height: auto;
	}
}

.bottom-photo {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;

	.small-camp-container__card {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		img {
			width: 49%;
			height: auto;
		}
	}
}

@media screen and (max-width: 768px) {
	.package-detail {
		flex-direction: column;
	}

	.order-button {
		justify-content: center;
	}
	.package-photo {
		padding-right: 10px;
		margin-right: 0px;
	}
	.bottom-photo {
		width: 100%;
	}
	.small-camp-container__card {
		width: 100%;
		display: flex;
		flex-direction: column;

		img {
			width: 100%;
		}
	}

	.package-info-price {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
	}

	.package-benefit {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}

	.package-policy {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}
	.package-price {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		.package-price__title {
			p {
				text-align: right;
			}
		}
	}

	.package-include {
		padding: 12px 0px;
	}

	.package-include-top {
		flex-direction: column;
		gap: 20px;
	}

	.package-include-bottom {
		flex-direction: column;
		gap: 20px;
	}

	.package-include-top__item {
		flex-direction: column;
		gap: 8px;
	}

	.package-include-bottom__item {
		flex-direction: column;
		gap: 8px;
	}

	.package-include__title {
		text-align: left;
	}

	.package-info-price .package-price .package-price__title[data-v-de1af40c] {
		text-align: right;
	}
}
</style>
