<template>
	<main class="site-main">
		<div class="detail-carousel-wrapper">
			<div class="title-detail">
				<p>Camping Ground Sekitar Sini</p>
			</div>
			<vue-slick-carousel
				:slides-to-show="cardsPerRow"
				:mouse-drag="true"
				:options="slickOptions"
			>
				<!-- Loop through campData -->
				<div
					v-for="campData in campingData"
					:key="campData.id"
					class="card-row"
				>
					<div class="card-camp">
						<img class="image" src="~/assets/img/card.png" />
						<div class="information-section">
							<div class="card-camp__title">
								<i class="fas fa-map-marker-alt"></i>
								<p class="title--place">{{ campData.location }}</p>
								<div class="line"></div>
								<i class="fas fa-star"></i>
								<p class="title--place">{{ campData.rating }}</p>
							</div>
							<div class="card-camp-main__title">{{ campData.camp }}</div>
							<div class="card-camp-price">{{ campData.price }}</div>
							<div class="info">Per Malam / Per Kavling</div>
						</div>
					</div>
				</div>
			</vue-slick-carousel>
		</div>
	</main>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import campingData from '../static/json/camp.json'

export default {
	components: {
		VueSlickCarousel
	},
	data() {
		return {
			campingData: campingData.data,
			cardsPerRow: 4,
			slickOptions: {
				autoplay: true,
				autoplaySpeed: 100
			}
		}
	},
	mounted() {
		this.updateSlickOptions()
		window.addEventListener('resize', this.updateSlickOptions)
	},
	methods: {
		updateSlickOptions() {
			if (window.innerWidth < 768) {
				this.cardsPerRow = 1
			} else if (window.innerWidth < 992) {
				this.cardsPerRow = 2
			} else {
				this.cardsPerRow = 4
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.detail-carousel-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 56px;
}

.title-detail {
	margin-bottom: 56px;
	color: var(--text-colour-90, #252525);
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
}

.card-camp {
	width: 295px;
}

.card-row {
	display: flex !important;
	justify-content: center !important;
}

.card-camp:hover {
	transform: none;
}

@media screen and (max-width: 768px) {
	.detail-carousel-wrapper {
		margin-bottom: 0;
	}
	.title-detail {
		margin-bottom: 0;
	}
	.card-row {
		display: flex;
		justify-content: center;
	}
}
</style>
