<template>
	<div class="facilities-container">
		<div class="camp-facility">
			<p class="facility-title">Fasilitas Perkemahan</p>
			<ul>
				<li v-for="(facility, index) in campFacilities" :key="index">
					<i class="fa-solid fa-check"></i>
					{{ facility }}
				</li>
			</ul>
		</div>
		<div class="general-facility">
			<p class="facility-title">Fasilitas Umum</p>
			<ul>
				<li v-for="(facility, index) in generalFacilities" :key="index">
					<i class="fa-solid fa-check"></i>
					{{ facility }}
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'FacilityPage',
	data() {
		return {
			campFacilities: [
				'Tenda',
				'Kasur Lipat',
				'Sleeping Bag',
				'Bantal',
				'Selimut',
				'Meja dan Kursi'
			],
			generalFacilities: [
				'Toilet dan Kamar Mandi',
				'Tempat Parkir',
				'Area BBQ',
				'Penyewaan Alat Camping',
				'Toko Oleh Oleh',
				'Resepsionis 24 Jam'
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.facilities-container {
	display: flex;
	flex-direction: row;
	gap: 289px;
	margin-bottom: 68px;
}

.facility-title {
	color: var(--text-colour-90, #252525);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.general-facility {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-wrap: wrap;

	.general-facility__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		padding-bottom: 8px;
	}
}

.camp-facility {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-wrap: wrap;

	i {
		color: #064635;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		padding-bottom: 8px;
	}
}

@media screen and (max-width: 768px) {
	.facilities-container {
		flex-direction: column;
		gap: 0;
	}

	.facility-title {
		font-size: 16px;
	}

	.general-facility {
		margin-top: 24px;
	}

	.camp-facility {
		margin-top: 24px;
	}
}
</style>
