<template>
	<div class="faq">
		<p class="faq-title">Pertanyaan Seputar Bumi Perkemahan Ledok Ombo</p>
		<div class="faq-container">
			<div
				v-for="(faq, index) in faqData"
				:key="index"
				class="faq-container-content"
			>
				<div class="faq-container-content__question" @click="toggleFAQ(index)">
					<p>{{ faq.question }}</p>
					<i
						:class="['fas', faq.open ? 'fa-chevron-up' : 'fa-chevron-down']"
					></i>
				</div>
				<hr v-if="!faq.open" class="faq-divider" />
				<div v-if="faq.open" class="faq-container-content__answer">
					<p>{{ faq.answer }}</p>
				</div>
			</div>
		</div>
		<div class="faq-button">
			<div class="button--medium">Lihat Semua FAQs</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			faqData: [
				{
					question: 'Apa itu Bumi Perkemahan Ledok Ombo',
					answer:
						'Bumi Perkemahan Ledok Ombo adalah tempat camping yang terletak di kaki Gunung Arjuno di Poncokusumo, Kabupaten Malang, Jawa Timur. Tempat ini menawarkan berbagai paket camping dan kegiatan outdoor lainnya.',
					open: false
				},
				{
					question:
						'Apa saja fasilitas yang tersedia di Bumi Perkemahan Ledok Ombo',
					answer:
						'Bumi Perkemahan Ledok Ombo menyediakan berbagai fasilitas umum seperti toilet, kamar mandi, tempat parkir, area BBQ, dan lainnya. Selain itu, Bumi Perkemahan Ledok Ombo juga menyediakan fasilitas camping seperti tenda, kasur lipat, sleeping bag, bantal, selimut, meja dan kursi.',
					open: false
				},
				{
					question:
						'Apa saja kegiatan yang bisa dilakukan di Bumi Perkemahan Ledok Ombo',
					answer:
						'Bumi Perkemahan Ledok Ombo menyediakan berbagai kegiatan outdoor seperti hiking, trekking, dan lainnya.',
					open: false
				}
			]
		}
	},
	methods: {
		toggleFAQ(index) {
			this.faqData.forEach((faq, i) => {
				if (i === index) {
					faq.open = !faq.open
				} else {
					faq.open = false
				}
			})
		}
	}
}
</script>

<style lang="scss" scoped>
.faq {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin: 0 auto;
	width: 80%;

	.faq-button {
		display: flex;
		justify-content: center;

		.button--medium {
			width: auto;
		}
	}
}

.faq-title {
	color: var(--text-colour-90, #252525);
	text-align: center;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.faq-container {
	display: flex;
	flex-direction: column;
	gap: 28px;

	.faq-container-content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.faq-container-content__question {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			color: var(--text-colour-90, #252525);
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			cursor: pointer;
			transition: all 0.3s ease; /* Transisi untuk ikon panah */
		}

		.faq-divider {
			margin: 10px 0; /* Sesuaikan dengan jarak yang diinginkan */
		}

		.faq-container-content__answer {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			padding: 32px 0px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 18px;
			font-weight: 400;
			line-height: normal;
			transition: max-height 0.3s ease; /* Transisi untuk ketinggian jawaban */
		}

		.faq-container-content__answer p {
			margin: 0;
		}

		.faq-container-content__answer.open {
			max-height: 200px; /* Sesuaikan dengan ketinggian jawaban Anda */
		}
	}
}

@media screen and (max-width: 768px) {
	.faq {
		width: 100%;
	}

	.faq-title {
		font-size: 24px;
	}

	.faq-container {
		gap: 16px;

		.faq-container-content {
			gap: 12px;

			.faq-container-content__question {
				font-size: 16px;
			}

			.faq-container-content__answer {
				font-size: 16px;
			}
		}
	}
}
</style>
