<template>
	<footer class="site-footer">
		<div class="footer-content">
			<div class="left-content">
				<img class="logo" src="~/assets/img/footer-logo.png" />
			</div>
			<div class="center-content">
				<p class="address">
					Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510
				</p>
				<div class="contact">
					<p>+62 822-4692-6620</p>
					<p>Kemahaja@gmail.com</p>
				</div>
			</div>
			<div class="right-content">
				<p class="text-socmed">Social Media</p>
				<div class="logo-social">
					<i class="fab fa-instagram fa-2x"></i>
					<i class="fab fa-youtube fa-2x"></i>
					<i class="fab fa-facebook fa-2x"></i>
					<i class="fab fa-tiktok fa-2x"></i>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="copyright-option">
				<a>Syarat & Ketentuan</a>
				<a>Kebijakan Privasi</a>
				<a>Hubungi Kami</a>
			</div>
			<div class="copyright-text">
				<p>© 2021 Kemahaja. All rights reserved.</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterPage'
}
</script>

<style lang="scss" scoped>
.logo-social {
	display: flex;
	gap: 20px;
	justify-content: flex-end;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.text-socmed {
	margin-bottom: 12px;

	@media (max-width: 768px) {
		text-align: center;
	}
}
.site-footer {
	display: flex;
	width: 100%;
	flex-direction: column;
	height: auto;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	background: var(--text-colour-00, #fff);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

	@media (max-width: 768px) {
		height: auto;
	}
}

.address {
	width: 321px;
	margin: 8px;

	@media (max-width: 768px) {
		text-align: center;
	}
}

.fab {
	width: 32px;
	height: 32px;

	@media (max-width: 768px) {
		width: 24px;
		height: 24px;
	}
}

.contact {
	display: flex;
	flex-direction: row;
	gap: 24px;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 30px 50px;

	@media (max-width: 768px) {
		flex-direction: column;
		padding: 15px 20px;
	}
}

.left-content {
	flex-grow: 1;

	@media (max-width: 768px) {
		text-align: center;
	}
}

.copyright-option {
	display: flex;
	gap: 20px;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.center-content {
	flex-grow: 2;
	text-align: left;

	@media (max-width: 768px) {
		text-align: center;
	}
}

.right-content {
	flex-grow: 1;
	text-align: right;

	@media (max-width: 768px) {
		text-align: center;
	}
}

.logo {
	width: 216.774px;
	height: 28px;

	@media (max-width: 768px) {
		width: 150px;
		height: 20px;
	}
}

a {
	color: #fff;
}

.copyright {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 250px;
	flex-shrink: 0;
	background: var(--primary-green, #064635);

	@media (max-width: 768px) {
		padding: 6px 20px 5px 20px;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}
}

.copyright-text {
	color: #fff;

	@media (max-width: 768px) {
		text-align: center;
	}
}
</style>
