<template>
	<div class="container-location">
		<p class="facility-menu">Lokasi</p>
		<div class="location-container">
			<div class="location-info">
				<i class="fas fa-map-marker-alt"></i>
				<p>Dusun III, Ledok Ombo, Kabupaten Malang, Jawa Timur, Indonesia</p>
			</div>
			<div class="location-map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4963.776398122434!2d112.80972737596522!3d-8.055917880483905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd63b4a00c5ca99%3A0x9af6106ef57a924b!2sBumi%20Perkemahan%20Ledok%20Ombo%2C%20Poncokusumo!5e1!3m2!1sen!2sid!4v1693486006564!5m2!1sen!2sid"
					width="100%"
					height="100%"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
		</div>
		<div class="location-info-detail">
			<div class="options-way">
				<p class="facility-title">Pergi Kesana</p>
				<div class="options-way__item">
					<i class="fas fa-car"></i>
					<div class="options-way__text">
						<p class="vehicle">Mobil Pribadi</p>
						<p class="map-link">Lihat Peta</p>
					</div>
					<div class="options-way__time">
						<i class="fas fa-clock"></i>
						<p>1,5 - 2 Jam</p>
					</div>
				</div>
				<div class="options-way__item">
					<i class="fas fa-car"></i>
					<div class="options-way__text">
						<p class="vehicle">Minibus</p>
						<p class="map-link">Lihat Peta</p>
					</div>
					<div class="options-way__time">
						<i class="fas fa-clock"></i>
						<p>1,5 - 2 Jam</p>
					</div>
				</div>
				<div class="options-way__item">
					<i class="fas fa-car"></i>
					<div class="options-way__text">
						<p class="vehicle">Bus</p>
						<p class="map-link">Lihat Peta</p>
					</div>
					<div class="options-way__time">
						<i class="fas fa-clock"></i>
						<p>1,5 - 2 Jam</p>
					</div>
				</div>
			</div>
			<div class="restaurant">
				<p class="facility-title">Restoran Terdekat</p>
				<div class="restaurant__item">
					<i class="fas fa-utensils"></i>
					<div class="restaurant__text">
						<p class="restaurant__name">Pinus Cafe</p>
						<div class="restaurant-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-walking"></i>
							<p>5 Menit</p>
						</div>
					</div>
				</div>
				<div class="restaurant__item">
					<i class="fas fa-utensils"></i>
					<div class="restaurant__text">
						<p class="restaurant__name">Restoran Pondok Alam</p>
						<div class="restaurant-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-walking"></i>
							<p>10 Menit</p>
						</div>
					</div>
				</div>
				<div class="restaurant__item">
					<i class="fas fa-utensils"></i>
					<div class="restaurant__text">
						<p class="restaurant__name">Warung Taman Makan</p>
						<div class="restaurant-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-car"></i>
							<p>1 Jam</p>
						</div>
					</div>
				</div>
			</div>
			<div class="tour">
				<p class="facility-title">Wisata Terdekat</p>
				<div class="tour__item">
					<i class="fas fa-umbrella-beach"></i>
					<div class="tour__text">
						<p class="tour__name">Coban Rondo Waterfall</p>
						<div class="tour-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-walking"></i>
							<p>5 Menit</p>
						</div>
					</div>
				</div>
				<div class="tour__item">
					<i class="fas fa-umbrella-beach"></i>
					<div class="tour__text">
						<p class="tour__name">Coban Rondo Waterfall</p>
						<div class="tour-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-walking"></i>
							<p>1 Jam</p>
						</div>
					</div>
				</div>
				<div class="tour__item">
					<i class="fas fa-umbrella-beach"></i>
					<div class="tour__text">
						<p class="tour__name">Coban Rondo Waterfall</p>
						<div class="tour-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<p>20 Review</p>
						</div>
						<div class="distance">
							<i class="fas fa-walking"></i>
							<p>1.5 Jam</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-container">
			<div class="button-location">Lihat Semua Lokasi di Peta</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'LocationPage',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.container-location {
	width: 100%;
}

.button-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.button-location {
	display: flex;
	margin-top: 56px;
	width: 228px;
	height: 48px;
	padding: 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 8px;
	background: var(--shades-green-90, #0f5a46);
	color: var(--text-colour-10, #f2f2f2);
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
}

.facility-menu {
	color: #000;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.tour {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.tour__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;

		.fa-umbrella-beach {
			font-size: 24px;
			color: #064635;
		}

		.tour__text {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.tour__name {
				color: var(--text-colour-90, #252525);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.tour-rating {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 4px;
				color: var(--text-colour-60, #6e6e6e);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}

			.distance {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 4px;
				color: var(--text-colour-60, #6e6e6e);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}

.restaurant {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.restaurant__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;

		.fa-utensils {
			font-size: 24px;
			color: #064635;
		}

		.restaurant__text {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.restaurant__name {
				color: var(--text-colour-90, #252525);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.restaurant-rating {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 4px;
				color: var(--text-colour-60, #6e6e6e);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}

			.distance {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 4px;
				color: var(--text-colour-60, #6e6e6e);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}

.fa-star {
	color: #f2c94c;
}

.location-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.facility-title {
	color: var(--text-colour-90, #252525);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.options-way {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.options-way__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;

		.fa-car {
			font-size: 24px;
			color: #064635;
		}

		.options-way__text {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 100%;

			.vehicle {
				color: var(--text-colour-90, #252525);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.map-link {
				color: var(--text-colour-60, #6e6e6e);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 142.857% */
			}
		}

		.options-way__time {
			display: flex;
			width: 100%;
			flex-direction: row;
			align-items: center;
			gap: 4px;
			color: var(--text-colour-60, #6e6e6e);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
		}
	}
}

.location-map {
	width: 100%;
	height: 317px;
	flex-shrink: 0;
}

.location-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	color: var(--text-colour-80, #3d3d3d);
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
}

.location-info-detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1120px;
	gap: 200px;
	margin-top: 33px;
}

iframe {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.location-info-detail {
		flex-direction: column;
		gap: 20px;
	}

	.location-info {
		flex-direction: row;
		gap: 10px;

		p {
			font-size: 12px;
		}
	}

	.location-map {
		height: 200px;
	}

	.options-way {
		gap: 10px;

		.options-way__item {
			gap: 10px;

			.fa-car {
				font-size: 20px;
			}

			.options-way__text {
				gap: 4px;

				.vehicle {
					font-size: 14px;
				}

				.map-link {
					font-size: 12px;
				}
			}

			.options-way__time {
				gap: 4px;
				font-size: 12px;
			}
		}
	}

	.restaurant {
		gap: 10px;

		.restaurant__item {
			gap: 10px;

			.fa-utensils {
				font-size: 20px;
			}

			.restaurant__text {
				gap: 4px;

				.restaurant__name {
					font-size: 14px;
				}

				.restaurant-rating {
					gap: 4px;
					font-size: 12px;
				}

				.distance {
					gap: 4px;
					font-size: 12px;
				}
			}
		}
	}

	.tour {
		gap: 10px;

		.tour__item {
			gap: 10px;

			.fa-umbrella-beach {
				font-size: 20px;
			}

			.tour__text {
				gap: 4px;

				.tour__name {
					font-size: 14px;
				}

				.tour-rating {
					gap: 4px;
					font-size: 12px;
				}

				.distance {
					gap: 4px;
					font-size: 12px;
				}
			}
		}
	}

	.button-container {
		margin-bottom: 50px;
	}

	.button-location {
		width: 100%;
	}

	.location-container {
		gap: 10px;
	}

	.facility-menu {
		font-size: 24px;
	}
}
</style>
