<template>
	<nuxt-link to="/" class="site-logo">
		<img src="~assets/img/site-logo.png" alt="" width="60" />
	</nuxt-link>
</template>

<script>
export default {
	name: 'LogoPage'
}
</script>

<style lang="scss">
img {
	width: 116px;
	height: 15px;
}
</style>
