<template>
	<div class="camp-review-container">
		<div class="camp-review-left">
			<p class="camp-review-left__title">Ulasan Pengunjung</p>
			<div class="camp-review__rating">
				<div class="camp-review__rating__star">
					<i class="fas fa-star"></i>
					<p class="rating">4.0</p>
					<p class="subrating">/ 5.0</p>
				</div>
				<p class="rating-percent">92% Pengunjung Merasa Puas</p>
				<p>Berdasarkan 150 Ulasan</p>
			</div>
			<div class="camp-review__scale">
				<div class="camp-review__scale__item">
					<i class="fas fa-star"></i>
					<p>5</p>
					<div class="camp-review__scale__item__bar">
						<div class="camp-review__scale__item__bar__fill"></div>
					</div>
					<p>70</p>
				</div>
				<div class="camp-review__scale__item">
					<i class="fas fa-star"></i>
					<p>4</p>
					<div class="camp-review__scale__item__bar">
						<div class="camp-review__scale__item__bar__fill"></div>
					</div>
					<p>50</p>
				</div>
				<div class="camp-review__scale__item">
					<i class="fas fa-star"></i>
					<p>3</p>
					<div class="camp-review__scale__item__bar">
						<div class="camp-review__scale__item__bar__fill"></div>
					</div>
					<p>20</p>
				</div>
				<div class="camp-review__scale__item">
					<i class="fas fa-star"></i>
					<p>2</p>
					<div class="camp-review__scale__item__bar">
						<div class="camp-review__scale__item__bar__fill"></div>
					</div>
					<p>10</p>
				</div>
				<div class="camp-review__scale__item">
					<i class="fas fa-star"></i>
					<p>1</p>
					<div class="camp-review__scale__item__bar">
						<div class="camp-review__scale__item__bar__fill"></div>
					</div>
					<p>0</p>
				</div>
			</div>
			<div class="camp-review__filter">
				<div class="camp-review__filter__title">
					<p>Filter Ulasan</p>
				</div>
				<div class="camp-review__filter__media">
					<p>Media</p>
					<div class="camp-review__filter__option">
						<input id="photo" type="checkbox" name="photo" value="photo" />
						<p>Dengan Photo & Video</p>
					</div>
				</div>
				<div class="camp-review__filter__camper">
					<p>Camper</p>
					<div class="camp-review__filter__option">
						<input id="solo" type="checkbox" name="solo" value="solo" />
						<p>Solo Traveler</p>
					</div>
					<div class="camp-review__filter__option">
						<input id="family" type="checkbox" name="family" value="family" />
						<p>Family Traveler</p>
					</div>
					<div class="camp-review__filter__option">
						<input
							id="beginner"
							type="checkbox"
							name="beginner"
							value="beginner"
						/>
						<p>Beginner Traveler</p>
					</div>
				</div>
				<div class="camp-review__filter__package">
					<p>Paket</p>
					<div class="camp-review__filter__option">
						<input id="solo" type="checkbox" name="solo" value="solo" />
						<p>Solo Traveler</p>
					</div>
					<div class="camp-review__filter__option">
						<input id="family" type="checkbox" name="family" value="family" />
						<p>Family Traveler</p>
					</div>
					<div class="camp-review__filter__option">
						<input
							id="beginner"
							type="checkbox"
							name="beginner"
							value="beginner"
						/>
						<p>Beginner Traveler</p>
					</div>
				</div>
				<div class="camp-review__filter__rating">
					<p>Paket</p>
					<div class="camp-review__filter__option">
						<input id="5" type="checkbox" name="rating" value="5" />
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<div class="camp-review__filter__option">
						<input id="4" type="checkbox" name="rating" value="4" />
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<div class="camp-review__filter__option">
						<input id="3" type="checkbox" name="rating" value="3" />
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<div class="camp-review__filter__option">
						<input id="2" type="checkbox" name="rating" value="2" />
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
					<div class="camp-review__filter__option">
						<input id="1" type="checkbox" name="rating" value="1" />
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="camp-review-right">
			<div class="camp-review-header">
				<div class="camp-review-header__left">
					<p>Ulasan Pengunjung</p>
				</div>
				<div class="camp-review-header__right">
					<p>Urutkan</p>
					<div class="dropdown-filter">
						<select v-model="selectedFilter">
							<option value="terbaru">Terbaru</option>
							<option value="terlama">Terlama</option>
							<option value="terbanyak">Terbanyak</option>
							<option value="sesuai">Paling Sesuai</option>
						</select>
					</div>
				</div>
			</div>
			<div class="camp-review-right__content">
				<div class="camp-review-right__content__header">
					<p class="camp-review-right__content__header__title">5.0</p>
					<div class="camp-review-right__star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p class="recommended-stat">Sangat Direkomendasikan</p>
				</div>
				<div class="camp-review-right__content__profile">
					<img src="../assets/img/review.png" alt="review" />
					<div class="camp-review-right__content__profile__detail">
						<div class="profile-detail-name">
							<i class="fas fa-user"></i>
							<p>Suwandi</p>
						</div>
						<div class="profile-detail-status">
							<i class="fas fa-campground"></i>
							<p>Solo Traveler</p>
						</div>
					</div>
				</div>
				<div class="camp-review-right__content__package">
					<p>Pilihan Paket:</p>
					<i class="fas fa-campground"></i>
					<p>Paket Standar</p>
				</div>
				<div class="camp-review-right__content__review">
					<p>
						Tempatnya sangat indah dan damai. Berkemah di sini sangat
						menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
						yang tenang.
					</p>
				</div>
				<div class="camp-review-right__content__photo">
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
				</div>
			</div>
			<div class="camp-review-right__content">
				<div class="camp-review-right__content__header">
					<p class="camp-review-right__content__header__title">5.0</p>
					<div class="camp-review-right__star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p class="recommended-stat">Sangat Direkomendasikan</p>
				</div>
				<div class="camp-review-right__content__profile">
					<img src="../assets/img/review.png" alt="review" />
					<div class="camp-review-right__content__profile__detail">
						<div class="profile-detail-name">
							<i class="fas fa-user"></i>
							<p>Suwandi</p>
						</div>
						<div class="profile-detail-status">
							<i class="fas fa-campground"></i>
							<p>Solo Traveler</p>
						</div>
					</div>
				</div>
				<div class="camp-review-right__content__package">
					<p>Pilihan Paket:</p>
					<i class="fas fa-campground"></i>
					<p>Paket Standar</p>
				</div>
				<div class="camp-review-right__content__review">
					<p>
						Tempatnya sangat indah dan damai. Berkemah di sini sangat
						menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
						yang tenang.
					</p>
				</div>
				<div class="camp-review-right__content__photo">
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
				</div>
			</div>
			<div class="camp-review-right__content">
				<div class="camp-review-right__content__header">
					<p class="camp-review-right__content__header__title">5.0</p>
					<div class="camp-review-right__star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p class="recommended-stat">Sangat Direkomendasikan</p>
				</div>
				<div class="camp-review-right__content__profile">
					<img src="../assets/img/review.png" alt="review" />
					<div class="camp-review-right__content__profile__detail">
						<div class="profile-detail-name">
							<i class="fas fa-user"></i>
							<p>Suwandi</p>
						</div>
						<div class="profile-detail-status">
							<i class="fas fa-campground"></i>
							<p>Solo Traveler</p>
						</div>
					</div>
				</div>
				<div class="camp-review-right__content__package">
					<p>Pilihan Paket:</p>
					<i class="fas fa-campground"></i>
					<p>Paket Standar</p>
				</div>
				<div class="camp-review-right__content__review">
					<p>
						Tempatnya sangat indah dan damai. Berkemah di sini sangat
						menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
						yang tenang.
					</p>
				</div>
				<div class="camp-review-right__content__photo">
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
					<img src="../assets/img/review.png" alt="review" />
				</div>
			</div>
			<div class="pagination">
				<Pagination />
				<p>Lihat Semua Ulasan</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ReviewPage',
	data() {
		return {
			selectedFilter: 'terbaru'
		}
	}
}
</script>

<style lang="scss" scoped>
.camp-review-container {
	display: flex;
	flex-direction: row;
	gap: 27px;
	width: 100%;

	.camp-review-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 400px;

		.camp-review-left__title {
			color: var(--text-colour-90, #252525);
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: left;
			align-content: flex-start;
		}
	}

	.camp-review-right {
		display: flex;
		flex-direction: column;
		width: calc(100% - 400px);

		.camp-review-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			.camp-review-header__left {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				p {
					color: var(--text-colour-90, #252525);
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}

			.camp-review-header__right {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				.dropdown-filter {
					display: flex;
					width: 178px;
					padding: 12px 20px;
					justify-content: space-between;
					align-items: center;
					border-radius: 6px;
					border: 1px solid var(--text-colour-40, #9e9e9e);
				}

				p {
					color: var(--text-colour-90, #252525);
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				select {
					outline: none;
					border: none;
					padding-right: 20px;
				}
			}
		}
		.camp-review-right__content {
			display: flex;
			width: 693px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			border-bottom: 1px solid var(--text-colour-20, #cfcfcf);

			.camp-review-right__content__header {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 20px;

				.fa-star {
					color: #f2c94c;
					font-size: 24px;
				}

				.camp-review-right__content__header__title {
					color: var(--text-colour-50, #868686);
					font-size: 22px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				.recommended-stat {
					color: var(--text-colour-50, #868686);
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 150% */
				}
			}

			.camp-review-right__content__profile {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				img {
					display: flex;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					background: #c4c4c4;
				}

				.camp-review-right__content__profile__detail {
					display: flex;
					flex-direction: column;
					gap: 8px;

					.profile-detail-name {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 10px;

						i {
							font-size: 18px;
							padding-left: 2px;
						}
					}

					.profile-detail-status {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 8px;

						.fa-campground {
							font-size: 18px;
						}
					}
				}
			}

			.camp-review-right__content__package {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				i {
					font-size: 18px;
				}
			}

			.camp-review-right__content__photo {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				img {
					display: flex;
					width: 86px;
					height: 86px;
					border-radius: 8px;
					background: #c4c4c4;
				}
			}
		}

		.pagination {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			p {
				display: flex;
				color: var(--text-colour-50, #868686);
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				align-items: start;
			}

			.pagination__item {
				display: flex;
				width: 40px;
				height: 40px;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: var(--primary-green, #064635);
				color: var(--text-colour-10, #f2f2f2);
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}

	.camp-review__rating {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		text-align: center;

		.rating-percent {
			color: var(--primary-green, #064635);
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
	.camp-review__rating__star {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		text-align: center;

		.fa-star {
			color: #f2c94c;
			font-size: 60px;
		}

		.rating {
			color: var(--text-colour-90, #252525);
			font-size: 96px;
			font-style: normal;
			font-weight: 700;
			line-height: 100px; /* 104.167% */
		}

		.subrating {
			color: var(--text-colour-50, #868686);
			font-size: 26px;
			font-style: normal;
			font-weight: 700;
			line-height: 34px; /* 130.769% */
		}
	}

	.camp-review__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-90, #252525);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.camp-review__scale {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		.fa-star {
			color: #f2c94c;
			font-size: 24px;
		}
	}

	.camp-review__scale__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
	}

	.camp-review__scale__item__bar {
		display: flex;
		width: 100%;
		height: 8px;
		background: #d9d9d9;
		border-radius: 4px;
	}

	.camp-review__scale__item__bar__fill {
		display: flex;
		width: 50%;
		height: 8px;
		background: var(--primary-green, #064635);
		border-radius: 4px;
	}
}

.camp-review__filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 8px;

	input {
		width: 24px;
		height: 24px;
	}

	.camp-review__filter__title {
		color: #000;
		font-size: 24px;
		padding: 10px 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-bottom: 1px solid #d9d9d9;
	}

	.camp-review__filter__media {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 10px 20px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		transition: all 0.3s ease; /* Transisi untuk ikon panah */
		border-bottom: 1px solid #d9d9d9;

		.camp-review__filter__option {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 18px;
			font-weight: 400;
			line-height: normal;
		}
	}

	.camp-review__filter__camper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 10px 20px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		transition: all 0.3s ease; /* Transisi untuk ikon panah */
		border-bottom: 1px solid #d9d9d9;

		.camp-review__filter__option {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 18px;
			font-weight: 400;
			line-height: normal;
		}
	}

	.camp-review__filter__package {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 10px 20px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		transition: all 0.3s ease; /* Transisi untuk ikon panah */
		border-bottom: 1px solid #d9d9d9;

		.camp-review__filter__option {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 18px;
			font-weight: 400;
			line-height: normal;
		}
	}

	.camp-review__filter__rating {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		padding: 10px 20px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
		transition: all 0.3s ease; /* Transisi untuk ikon panah */
		border-bottom: 1px solid #d9d9d9;

		.camp-review__filter__option {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			color: var(--text-colour-80, #3d3d3d);
			font-size: 18px;
			font-weight: 400;
			line-height: normal;

			.fa-star {
				color: #f2c94c;
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.camp-review-container {
		flex-direction: column;
		gap: 20px;

		.camp-review-left {
			width: 100%;
		}

		.camp-review-right {
			width: 100%;

			.camp-review-header {
				flex-direction: column;
				gap: 20px;

				.camp-review-header__left {
					flex-direction: column;
					gap: 20px;
				}

				.camp-review-header__right {
					flex-direction: column;
					gap: 20px;
				}
			}

			.camp-review-right__content {
				width: 100%;

				.camp-review-right__star {
					.fa-star {
						font-size: 12px;
					}
				}
			}

			.pagination {
				flex-direction: row;
				gap: 20px;
			}
			.camp-review__filter {
				width: 100%;
			}

			.camp-review-right__content__photo {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 20px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
</style>
