<template>
	<div class="search-container">
		<div class="search">
			<i class="fas fa-search"></i>
			<input type="text" placeholder="Bumi Perkemahan Ledok Ombo" />
		</div>
		<div class="date-container">
			<div>
				<div class="check-in">
					<i class="fas fa-calendar-alt"></i>
					<div class="date">
						<p class="placename">11 Mei 2023</p>
						<p class="day">Rabu</p>
					</div>
				</div>
			</div>
			<div>
				<div class="check-out">
					<i class="fas fa-calendar-alt"></i>
					<div class="date">
						<p class="placename">12 Mei 2023</p>
						<p class="day">Kamis</p>
					</div>
				</div>
			</div>
		</div>
		<div class="person">
			<div class="person-container">
				<i class="fas fa-user-friends"></i>
				<select v-model="selectedCount">
					<option value="1">1 Dewasa</option>
					<option value="2">2 Dewasa</option>
					<option value="3">3 Dewasa</option>
					<option value="4">4 Dewasa</option>
				</select>
			</div>
		</div>
		<div class="button--medium">Update</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			selectedCount: 1
		}
	}
}
</script>

<style lang="scss" scoped>
.person-container {
	gap: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.person {
	display: flex;
	height: 48px;
	padding: 0px 12px;
	align-items: center;
	gap: 64px;
	border-radius: 6px;
	border: 1px solid var(--text-colour-40, #9e9e9e);
	background: #fff;
}

select {
	border: none;
	background: transparent;
	outline: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding-right: 50px;
	color: var(--text-colour-90, #252525);
}
.placename {
	color: var(--text-colour-90, #252525);
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
}

.day {
	color: var(--text-colour-60, #6e6e6e);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.person-count {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.date-container {
	gap: 0px;
	display: flex;
	flex-direction: row;
}
.date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: -2px;
}

p {
	margin: 0;
}
.search-container {
	display: flex;
	z-index: 3;
	position: fixed;
	width: 100%;
	height: auto;
	gap: 8px;
	padding: 16px 24px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 2px;
	background: var(--shades-yellow-50, #f1dab3);

	& > .date-container {
		gap: 0px;
	}
}

.check-in {
	display: flex;
	height: auto;
	padding: 8px 24px 8px 12px;
	align-items: center;
	cursor: pointer;
	gap: 24px;
	background-color: #fff;
	border-radius: 8px 0px 0px 8px;
	border: 1px solid var(--text-colour-40, #9e9e9e);
}

.check-out {
	display: flex;
	height: auto;
	padding: 8px 24px 8px 12px;
	align-items: center;
	cursor: pointer;
	gap: 24px;
	background-color: #fff;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid var(--text-colour-40, #9e9e9e);
}

.search {
	display: flex;
	width: 334px;
	height: 48px;
	padding: 16px 20px;
	align-items: center;
	gap: 12px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid var(--text-colour-40, #9e9e9e);
	background: var(--text-colour-00, #fff);

	i.fas {
		font-size: 18px;
		color: var(--text-colour-40, #9e9e9e);
		display: flex;
		width: 24px;
		height: 24px;
		padding: 3px 2.5px 2.042px 3px;
		align-items: center;
		flex-shrink: 0;
	}

	input {
		border: none;
		background: transparent;
		flex-grow: 1;
		outline: none;

		&:active {
			outline: none;
			border: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.search-container {
		flex-direction: column;
		height: auto;
		padding: 24px 24px 24px 24px;
		margin-top: 80px;
		position: relative;
		background: var(--shades-yellow-50, #f1dab3);
	}

	.search {
		width: 100%;
	}

	.date-container {
		flex-direction: row;
		gap: 24px;
		width: 100%;

		div {
			width: 100%;
		}
	}

	.check-in {
		border-radius: 8px;
		border: 1px solid var(--text-colour-40, #9e9e9e);
		height: auto;
	}

	.check-out {
		border-radius: 8px;
		border: 1px solid var(--text-colour-40, #9e9e9e);
		height: auto;
	}

	.person {
		width: 100%;
		border-radius: 8px;
		border: 1px solid var(--text-colour-40, #9e9e9e);
	}

	.person-container {
		width: 100%;
		gap: 24px;

		select {
			width: 100%;
		}
	}

	.button--medium {
		width: 100%;
	}
}
</style>
