<template>
	<div class="top-container-wrapper">
		<div class="title-top">
			<p>Top Camping di Indonesia</p>
		</div>
		<vue-slick-carousel
			:slides-to-show="slickOptions.slidesToShow"
			:mouse-drag="true"
			:options="slickOptions"
		>
			<div v-for="campData in campingData" :key="campData.id">
				<div class="camp-place">
					<img class="image-place" src="../assets/img/1.png" />
					<div class="info">
						<p>{{ campData.location }}</p>
						<p>{{ campData.count }} Tempat</p>
					</div>
				</div>
			</div>
		</vue-slick-carousel>
	</div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import campingData from '../static/json/top.json'

export default {
	components: {
		VueSlickCarousel
	},
	data() {
		return {
			campingData: campingData.data,
			slickOptions: {
				slidesToShow: 5
			}
		}
	},
	mounted() {
		this.updateSlickOptions()
		window.addEventListener('resize', this.updateSlickOptions)
	},
	methods: {
		updateSlickOptions() {
			if (window.innerWidth < 768) {
				this.slickOptions.slidesToShow = 1
			} else if (window.innerWidth < 992) {
				this.slickOptions.slidesToShow = 3
			} else {
				this.slickOptions.slidesToShow = 5
			}
		}
	}
}
</script>

<style lang="scss">
.title-top {
	margin-bottom: 56px;
	color: var(--text-colour-90, #252525);
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
}
.top-container-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 96px;
	margin-bottom: 56px;
}

.camp-place {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.slick-prev {
	width: 35px;
	height: 40px;
	background: url(../assets/img/left.svg) no-repeat center center;
	border: none;
	left: -35px;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		background: url(../assets/img/left.svg) no-repeat center center;
	}

	&:focus {
		outline: none;
		background: url(../assets/img/left.svg) no-repeat center center;
	}

	&:after {
		background: url(../assets/img/left.svg) no-repeat center center;
	}

	@media screen and (max-width: 768px) {
		left: -15px;
	}
}

.slick-next {
	width: 32px;
	height: 50px;
	background: url(../assets/img/right.svg) no-repeat center center;
	border: none;
	right: -35px;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		background: url(../assets/img/right.svg) no-repeat center center;
	}

	&:focus {
		outline: none;
		background: url(../assets/img/right.svg) no-repeat center center;
	}

	&:after {
		background: url(../assets/img/right.svg) no-repeat center center;
	}

	@media screen and (max-width: 768px) {
		right: -15px;
	}
}

.slick-prev:before {
	content: '';
}

.slick-next:before {
	content: '';
}

.slick-next:hover,
.slick-next:focus {
	background: url(../assets/img/right.svg) no-repeat center center;
	outline: none;
}

.image-place {
	width: 180px;
	height: 180px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-align: center;
}
</style>
