<template>
	<main class="site-main">
		<SearchColumn />
		<div class="container">
			<div class="camp-detail">
				<BreadCrumbs />
				<div class="camp-detail-text">
					<div class="camp-title">Bumi Perkemahan Ledok Ombo</div>
					<div class="available-camp">
						<i class="fa-solid fa-landmark"></i>
						<p>Tersisa 1 lahan kosong</p>
					</div>
				</div>
				<div class="camp-detail-address">
					<div class="address">
						<i class="fas fa-map-marker-alt"></i>
						<p>Dusun III, Ledok Ombo, Malang, Jawa Timur</p>
					</div>
					<div class="camp-height">
						<i class="fas fa-mountain"></i>
						<p>1000 mdpl</p>
					</div>
				</div>
				<div class="camp-review">
					<div class="camp-review__title">
						<i class="fas fa-star"></i>
						<p>4.0 / 5 (100+ Ulasan)</p>
					</div>
					<div class="camp-review__text">
						<i class="fa-regular fa-heart"></i>
						<p>Direkomendasikan oleh 95% camper</p>
					</div>
					<div class="camp-review__share">
						<i class="fas fa-share-alt"></i>
						<p>Bagikan</p>
					</div>
				</div>
				<div class="camp-photo">
					<div class="left-photo">
						<div class="large-camp-container">
							<img
								src="../assets/img/camp_large.png"
								alt="camp_large"
								class="large-camp"
							/>
							<div class="love-container">
								<i class="fas fa-heart love-icon"></i>
							</div>
						</div>
					</div>
					<div class="right-photo">
						<div class="small-camp-container">
							<img
								src="../assets/img/camp_small.png"
								alt="camp_large"
								class="small-camp"
							/>
							<img
								src="../assets/img/camp_small.png"
								alt="camp_large"
								class="small-camp"
							/>
							<div class="all-photo">
								<div class="rectangle"></div>
								<p>Lihat Semua Foto</p>
							</div>
						</div>
					</div>
				</div>
				<div class="info">
					<p>
						Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
						hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan
						riak air yang jernih dari sungai yang mengalir hanya 30 menit dari
						pusat Kota Malang.
					</p>
				</div>
				<div class="view-all">
					<p>Lihat Semua</p>
					<i class="fas fa-chevron-right"></i>
				</div>
				<div class="view-container">
					<p>View</p>
					<div class="view-option">
						<div
							v-for="(button, index) in viewButtons"
							:key="index"
							class="view-button"
							:class="{ active: button.isActive }"
							@click="toggleView(index)"
						>
							<i class="fas fa-campground"></i>
							<p>{{ button.label }}</p>
						</div>
					</div>
				</div>
				<p class="facility-menu">Fasilitas</p>
				<Facility />
				<Location />
				<p class="package-option-title">Pilih Paket</p>
				<CampPackage />
				<CampPackage />
				<Review />
				<FAQ />
				<div class="camp-carousel">
					<detailCarousel />
				</div>
			</div>
		</div>
	</main>
</template>

<script>
// import FAQ from '../components/FAQ.vue'
// import Review from '../components/Review.vue'
export default {
	// components: {
	// 	FAQ,
	// 	Review
	// },
	data() {
		return {
			selectedFilter: 'terbaru',
			viewButtons: [
				{ label: 'View pegunungan', isActive: true },
				{ label: 'View hutan', isActive: false },
				{ label: 'View sungai', isActive: false }
			]
		}
	},
	methods: {
		toggleView(index) {
			this.viewButtons.forEach((button, i) => {
				button.isActive = i === index
			})
		}
	}
}
</script>
<style lang="scss" scoped>
.camp-carousel {
	width: 100%;
}

.facility-menu {
	color: #000;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.facility-title {
	color: var(--text-colour-90, #252525);
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.view-button {
	display: flex;
	padding: 8px 16px;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	border: 1px solid var(--text-colour-30, #b6b6b6);
	cursor: pointer;

	&.active {
		background-color: var(--primary-green, #064635);
		color: var(--text-colour-10, #f2f2f2);
	}

	&:hover {
		background-color: var(--primary-green, #064635);
		color: var(--text-colour-10, #f2f2f2);
	}
}

.view-all {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;

	p {
		color: var(--text-colour-80, #3d3d3d);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		text-decoration: underline;
	}
}

.info {
	text-align: justify;
	margin-top: 5px;
}

.camp-detail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding-top: 90px;
	margin: 0 auto;
}

.large-camp {
	width: 726px;
	height: 424px;
	flex-shrink: 0;
}
.small-camp {
	width: 429px;
	height: 207px;
}

.left-photo {
	width: 100%;
}

.rectangle {
	width: 22px;
	height: 20px;
	flex-shrink: 0;
	background: #d9d9d9;
}

.right-photo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.large-camp-container {
	position: relative;
	width: 100%;
	height: auto;
}

.small-camp-container {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 10px;

	img {
		width: 100%;
		object-fit: cover;
	}
}

.all-photo {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	flex-direction: row;
	bottom: 0px;
	right: 0px;
	background-color: rgba(185, 182, 182, 0.8);
	padding: 10px;
	margin: 16px;
	border-radius: 8px;
	background: rgba(185, 182, 182, 0.8);
	color: white;
}

.love-container {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(185, 182, 182, 0.8);
	padding: 10px;
}

.love-icon {
	color: #fff;
	font-size: 24px;
	opacity: 1;

	&:hover {
		color: #dd2127;
	}

	&:active {
		color: #dd2127;
	}
}

.camp-photo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
}

.camp-review {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
	.camp-review__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		flex: 1;
	}

	.camp-review__text {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
		flex: 4;
	}

	.camp-review__share {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		border-radius: 4px;
		border: 1px solid var(--text-colour-20, #cfcfcf);
		padding: 4px 8px;
		line-height: normal;
	}
}

.camp-detail-address {
	display: flex;
	flex-direction: row;
	gap: 20px;
	.address {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
	}

	.camp-height {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;
		color: var(--text-colour-80, #3d3d3d);
		font-size: 18px;
		font-weight: 400;
		line-height: normal;
	}
}

.camp-detail-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.camp-title {
	color: var(--text-colour-90, #252525);
	font-size: 40px;
	font-weight: 700;
	line-height: normal;
	flex: 1;
}

.available-camp {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--danger-main, #dd2127);
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
}

.fa-landmark {
	margin-right: 8px;
	color: #dd2127;
}

.package-option-title {
	color: #000;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.small-camp-container__card {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.large-camp-card {
	width: 278px;
	height: 120px;
	flex-shrink: 0;
	border-radius: 8px;
}

.small-camp-card {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 8px;
}

.options-way__text {
	display: flex;
	flex-direction: column;
	gap: 4px;
	max-width: 100px;
	width: 100px;

	.vehicle {
		color: var(--text-colour-90, #252525);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */
	}

	.map-link {
		color: var(--text-colour-60, #6e6e6e);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
	}
}

.view-container {
	display: flex;
	flex-direction: column;
	margin-top: 36px;
	gap: 12px;
	margin-bottom: 87px;

	p {
		color: #3d3d3d;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}
.view-option {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.view-button {
	display: flex;
	padding: 8px 16px;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	border: 1px solid var(--text-colour-30, #b6b6b6);
	cursor: pointer;

	p {
		color: var(--text-colour-80, #3d3d3d);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
	}

	&.active {
		background-color: var(--primary-green, #064635);
		color: var(--text-colour-10, #f2f2f2);

		p {
			color: var(--text-colour-10, #f2f2f2);
		}
	}

	&:hover {
		background-color: var(--primary-green, #064635);
		color: var(--text-colour-10, #f2f2f2);

		p {
			color: var(--text-colour-10, #f2f2f2);
		}
	}
}

@media screen and (max-width: 768px) {
	.camp-detail-text {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		margin-bottom: 20px;
	}

	.camp-title {
		font-size: 24px;
	}

	.available-camp {
		font-size: 14px;
	}

	.camp-detail-address {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		margin-bottom: 20px;
	}

	.camp-height {
		font-size: 14px;
	}

	.address {
		font-size: 14px;
	}

	.camp-review {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		margin-bottom: 20px;
	}

	.camp-review__title {
		font-size: 14px;
	}

	.camp-review__text {
		font-size: 14px;
	}

	.camp-review__share {
		font-size: 14px;
	}

	.camp-photo {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
	}

	.right-photo {
		width: 100%;
		display: flex;
	}

	.left-photo {
		display: flex;
		width: 100%;
	}

	.large-camp {
		width: 100%;
		height: 100%;
	}

	.small-camp {
		width: 100%;
		height: 100%;
	}

	.rectangle {
		width: 22px;
		height: 20px;
		flex-shrink: 0;
		background: #d9d9d9;
	}

	.large-camp-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.small-camp-container {
		display: flex;
		position: relative;
		flex-direction: row;
		gap: 10px;

		img {
			width: 49%;
			object-fit: cover;
		}
	}

	.love-container {
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: rgba(185, 182, 182, 0.8);
		padding: 10px;
	}

	.love-icon {
		color: #fff;
		font-size: 24px;
		opacity: 1;

		&:hover {
			color: #dd2127;
		}

		&:active {
			color: #dd2127;
		}
	}

	.camp-review {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		width: 100%;
	}

	.camp-detail-address {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		width: 100%;
	}

	.info {
		font-size: 14px;
	}

	.view-all {
		flex-direction: row;
		justify-content: left;
		gap: 10px;
	}

	.view-option {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
		width: 100%;
	}

	.view-button {
		font-size: 14px;
		text-align: center;
		width: 100%;

		p {
			text-align: center;
			font-size: 14px;
		}

		.fa-campground {
			display: none;
		}
	}

	.view-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		width: 100%;
	}
}
</style>
