<template>
	<main class="site-main">
		<SearchColumn />
		<div class="container">
			<div class="welcome--greet">
				<p class="title">Siap Untuk Camping ?</p>
				<p class="subtitle">
					Mari nikmati petualangan seru di tengah alam terbuka dan rasa
					kedamaian yang sulit ditemukan di kota.
				</p>
			</div>
			<CampGround />
			<TopCamping />
		</div>
	</main>
</template>

<script>
export default {
	name: 'HomePage',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
p {
	margin: 0;
	padding: 0;
}

.welcome--greet {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 126px;
	gap: 20px;
	text-align: center;

	@media screen and (max-width: 768px) {
		padding-top: 50px;
	}

	& > .title {
		color: var(--text-colour-90, #252525);
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		line-height: normal;
	}

	& > .subtitle {
		color: var(--text-colour-90, #252525);
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}
}
</style>
