<template>
	<p>Konkol</p>
</template>

<script>
export default {
	name: 'ViewPage',
	data() {
		return {
			viewButtons: [
				{ label: 'View pegunungan', isActive: true },
				{ label: 'View hutan', isActive: false },
				{ label: 'View sungai', isActive: false }
			]
		}
	},
	methods: {
		toggleView(index) {
			this.viewButtons.forEach((button, i) => {
				button.isActive = i === index
			})
		}
	}
}
</script>
